
<div class= "row-fluid">
<h1>Inventory Management </h1>
<b><%= link_to 'Add Vehicle', new_product_path, class: "btn btn-primary pull-right "  %></b>
</div>

<table class="table table-bordered">
  <tr>
    <th></th>
    <th>Stock Number</th>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Transmission</th>
    <th>VIN</th>
    <th></th>
  </tr>
    
</table>

<br />

<b><%= link_to 'Add Vehicle', new_product_path, class: "btn btn-primary"  %></b>

